
img {
    max-width: 100%;
    max-height: 100%;
}

.square {
    height: 100%;
    width: 100%;
}

.contenido-ml {
    border:#2980b9 solid 10px; 
    margin:0 auto; 
    background-color: whitesmoke;
    border-bottom:#2980b9 solid 10px;
}

.logo-contenedor {
    border-bottom:#0074C8 solid 10px;
    display: table-cell; display:block; margin: 0 auto;
}

.logo {
    display: block; margin-left: auto; margin-right: auto;
}

.titulo {
    font-family:HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size:26px; vertical-align: middle; text-align: center;
    align-content: center; 
    color:#545454; 
    display: table-cell;
}

.politicas {
    color: #121F6B; font-weight: bold; 
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;                         
    line-height: 1.5; font-size:22px;
}

.table {
    display: table-row-group;
    font-family:HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.row-contenedor {
    display: table-row;
}
.row-left {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    width: 195px;
    color: white; 
    background-color: #121F6B; 
    font-weight:bold;
}

.row-rigth {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px; color: #121F6B; 
}

.footer-depco {
    border: #2980b9 solid 5px;
    border-left: 0px; border-bottom: 5px; border-right: 0px;
}

.mensaje {
    color: #545454; 
    font-weight: lighter; 
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif; 
    line-height: 1.5; 
    font-size:14px; 
    text-align: justify;
}